Repository himsve/q-delta-lake: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, tests:unit, tests:qgis, pages

Path conditions:
  flake8: any of: **/*.py
  tests:unit: any of: **/*.py, .gitlab-ci.yml
  tests:qgis: any of: **/*.py, .gitlab-ci.yml
  pages: any of: **/*.md, **/*.rst, .gitlab-ci.yml, q-delta-lake/**/*, requirements/documentation.txt, requirements/packaging.txt

Create README
  README
Due: none

cleanup
  README
Due: none

cleanup
  delta_lake/README.html
Due: none

refactoring of dialog
  INSTALL.embedded
  delta_lake/delta_lake.py
  delta_lake/delta_lake_dialog.py
  delta_lake/delta_lake_dialog_base.ui
Due: flake8, tests:unit, tests:qgis

readme
  README.md
Due: pages

refactored dialog
  delta_lake/delta_lake.py
  delta_lake/delta_lake_dialog_base.ui
  delta_lake/provider/delta_lake_provider.py
Due: flake8, tests:unit, tests:qgis

refactoring table selectie
  delta_lake/delta_lake_dialog.py
  delta_lake/delta_lake_dialog_base.ui
  delta_lake/provider/delta_lake_provider.py
Due: flake8, tests:unit, tests:qgis

fixes on dialog, retry if invalid form
  delta_lake/delta_lake.py
  delta_lake/delta_lake_dialog.py
  delta_lake/delta_lake_dialog_base.ui
  delta_lake/metadata.txt
  delta_lake/provider/delta_lake_provider.py
Due: flake8, tests:unit, tests:qgis

added functions to cope with spaces in the connection_profile_path for the uri definition
  delta_lake/delta_lake_dialog.py
  delta_lake/provider/delta_lake_provider.py
  delta_lake/provider/tests/test_uri.py
Due: flake8, tests:unit, tests:qgis

added documentation, renamed to delta share
  README.md
  delta_lake/Makefile
  delta_lake/README.txt
  delta_lake/__init__.py
  delta_lake/delta_lake.py
  delta_lake/delta_lake_dialog.py
  delta_lake/metadata.txt
  delta_lake/plugin_upload.py
  delta_lake/provider/delta_lake_provider.py
  delta_lake/requirements.txt
Due: flake8, tests:unit, tests:qgis, pages

version 0.3, refactoring, docs
  INSTALL.embedded
  README.md
  delta_lake/Makefile
  delta_lake/README.txt
  delta_lake/__init__.py
  delta_lake/delta_lake.py
  delta_lake/delta_lake_dialog.py
  delta_lake/delta_lake_dialog_base.ui
  delta_lake/metadata.txt
  delta_lake/plugin_upload.py
  delta_lake/provider/delta_lake_provider.py
  delta_lake/provider/tests/test_uri.py
  delta_lake/requirements.txt
Due: flake8, tests:unit, tests:qgis, pages

small name fix
  delta_lake/metadata.txt
Due: none

small fix
  README.md
Due: pages

small doc addition
  README.md
Due: pages

small fixes and ignore
  .gitignore
  delta_lake/Makefile
  delta_lake/plugin_upload.py
Due: flake8, tests:unit, tests:qgis

added tooltips (which do not show, at least on macOS)
  delta_lake/delta_lake_dialog_base.ui
Due: none

Update README.md
  README.md
Due: pages

fixed installation troubles, added docs to describe troubleshooting
  .gitignore
  CHANGELOG.md
  README.md
  delta_lake/Makefile
  delta_lake/README.md
  delta_lake/README.txt
  delta_lake/delta_lake_dialog.py
  delta_lake/metadata.txt
Due: flake8, tests:unit, tests:qgis, pages

DASK PoC
  delta_lake/delta_lake_dialog.py
  delta_lake/pb_tool.cfg
  delta_lake/provider/delta_lake_feature_iterator.py
  delta_lake/provider/delta_lake_provider.py
  delta_lake/provider/mappings.py
  delta_lake/resources.py
  delta_lake/tests/test_qgis_environment.py
  tests/qgis/test_provider.py
Due: flake8, tests:unit, tests:qgis

leser features fra liste istedenfor generator
  delta_lake/delta_lake.py
  delta_lake/delta_lake_dialog_base.ui
  delta_lake/help/source/conf.py
  delta_lake/pb_tool.cfg
  delta_lake/provider/delta_lake_feature_iterator.py
  delta_lake/provider/delta_lake_feature_source.py
  delta_lake/provider/delta_lake_provider.py
  delta_lake/requirements.txt
  delta_lake/resources.py
Due: flake8, tests:unit, tests:qgis
